<div class="elem to-fade-in fade-in to-fade-out fade-out">
    <div class="title" style="padding-left: 75px; padding-top: 25px;"><b>Introduction</b></div>
    <br>
    <div class="content">Greetings, my name is <b>Hrithin Ramji</b> and I am a web designer hailing from Chennai, India,
        currently 20 years old.
        During my leisure time, you can find me strumming tunes on my guitar or cracking a joke or two. </div>
  
    
    <div class="content">A very hardworking and ambitious software developer, I am currently pursuing my undergraduate
        degree. Ever since i was young, I have been enamored with coding and all things computers.
        <b>With a natural talent for problem-solving, software design has become my true passion.</b>
    </div>
    <div class="content">With the stroke of my keyboard, I turn intricate lines of code into beautifully functioning
        software.
        I am an architect of the digital world, building intricate systems from scratch with ease.
        Armed with my programming superpowers, I <b>bring innovative ideas to life, one line of code at a time.</b></div>
    <!-- <div class="content">Ever since i was 15 years old, i have <b>always enjoyed coding and working with computers in
            general.</b>
        Combined with a knack for problem solving, Software designing is a passion for me.</div>
        <div class="content">With the stroke of my keyboard, <b>I turn intricate lines of code into beautifully functioning software.</b>
            I am an architect of the digital world, building intricate systems from scratch with ease.
            Armed with my programming superpowers, I bring innovative ideas to life, <b>one line of code at a time.</b></div> -->
    
</div>