<div class="elem to-fade-in fade-in to-fade-out fade-out">


  <p class="elem to-fade-in fade-in to-fade-out fade-out" style=" color:white; text-align: center;" class="title">
    <b>skills</b></p>
  <div class="elem to-fade-in fade-in to-fade-out fade-out" class="container"
    style="display: flex; width:100%; background-color: black; min-height: 445px;">

    <div style="padding-left: 11%;" class="elem to-fade-in fade-in to-fade-out fade-out"
      style="position: relative; width:300px; background-color: black;">
      <div style="position: absolute;width: fit-content; height: fit-content; top: 20%; left: 300px;  ">
        <div style="position: relative; width: fit-content; height: fit-content;">
          <div class="cake">
            <div class="plate"></div>
            <div class="middle-layer">

              <div class="layer layer-bottom"></div>
              <div class="layer layer-middle"></div>
              <div class="layer layer-top"></div>

            </div>
            <div class="top-layer">

              <div class="icing"></div>
              <div class="drip drip1" style="position: absolute;"></div>
              <div class="drip drip2" style="position: absolute;"></div>
              <div class="drip drip3" style="position: absolute;"></div>

              <div class="candle" style="position: absolute;">
                <div class="flame"></div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="content-container" style="position: relative; margin-top: 3%; margin-left: 10%; width:50%">

      <p class="default" style="color:rgb(255, 255, 255); position: absolute; z-index: 3000;">"building a
        website is like baking a cake. I dont know how to bake a
        cake."<br><br>-Elon Musk, probably<br><br><br><b>hover over each layer to see stack skills</b></p>
      <div class="frontend-content scale" style="position: absolute; color: white; margin-left: 20%;">
        <p style=" color:white; text-align: center; font-size:x-large;"><b> FRONTEND</b><br><br></p>
        <div class="grid-container">
          <div class="grid-item"><img src="../assets/skills/frontend/reactjs.png">
            <div>reactjs</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/frontend/angularjs.png">
            <div>angular</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/frontend/HTML.png">
            <div>HTML</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/frontend/CSS.png">
            <div>CSS</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/frontend/JS.png">
            <div>js</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/frontend/TS.png">
            <div>TS</div>
          </div>
          <div class="grid-item"></div>
          <div class="grid-item"><img src="../assets/skills/frontend/figma.png">
            <div>figma</div>
          </div>
        </div>
      </div>
      <div class="middleLayer-content scale" style="position: absolute; color: white; margin-left: 20%;">
        <p style="color:white; text-align: center; font-size:x-large;"><b>TOOLS</b><br><br></p>

        <div class="grid-container">
          <div class="grid-item"><img src="../assets/skills/tools/rest.png">
            <div>rest</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/tools/api.png">
            <div>api</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/tools/git.png">
            <div>git</div>
          </div>

          <div class="grid-item"><img src="../assets/skills/tools/npm.png">
            <div>npm</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/tools/vscode.png">
            <div>vs code</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/tools/postman.png">
            <div>postman</div>
          </div>
          <div class="grid-item"></div>
          <div class="grid-item"><img src="../assets/skills/tools/orm.png">
            <div>ORM/ODM</div>
          </div>
          <div class="grid-item"></div>
        </div>

      </div>
      <div class="backend-content scale" style="position: absolute; color: white; margin-left: 20%;">
        <p style="color:white; text-align: center; font-size:x-large;"><b>BACKEND</b><br><br></p>

        <div class="grid-container">
          <div class="grid-item"><img src="../assets/skills/backend/sql.png">
            <div>sql</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/backend/expressjs.png">
            <div>expressJS</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/backend/apache.png">
            <div>apache</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/backend/node.png">
            <div>nodeJS</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/backend/django.png">
            <div>django</div>
          </div>
          <div class="grid-item"><img src="../assets/skills/backend/java.png">
            <div>java</div>
          </div>
          <div class="grid-item"></div>
          <div class="grid-item"><img src="../assets/skills/backend/mongodb.png">
            <div>mongoDB</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
