<body>
    <div id="title" class="elem to-fade-in fade-in to-fade-out fade-out">
        <!-- <img id="title-img" src="images/img2.jpg"
            alt="Loading, Please wait a second!" border="0" /><br />  -->
        <h1>Hrithin Ramji</h1>
        <p> a passionate CSE undergrad based in chennai</p>
    </div>
    <div id="container">
        <div id="sidebar">
            <div class="elem to-fade-in fade-in to-fade-out fade-out">
                <h1>Contact me</h1>
                <div id="menu">
                    <a href="mailto:hrithin201016@ssn.edu.in">Email: hrithin2010161 [at] ssn [dot] edu [dot]
                        in</a><br />
                    <a href="https://github.com/hrithinnnn">Github</a><br />
                    <a href="https://www.linkedin.com/in/hrithin-ramji/">LinkedIn</a><br />
                    <a target="_blank" href="https://drive.google.com/file/d/1BOsjjJqGP_UaS1wbH_1-VgsbtV6dj5Gd/view?usp=sharing">Resume</a><br />
                    phone: +91 9941669034<br />
                </div>
            </div>
            <div class="elem to-fade-in fade-in to-fade-out fade-out">
                <h1>Technical Skills</h1>
                <p>
                    I am also proficient in:<br>

                <ul>
                    <li>C</li>
                    <li>C++</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>SQL</li>
                    <li>HTML, CSS, JavaScript</li>
                    <li>MySQL</li>
                    <li>Android App Development</li>
                    <li>AngularJS</li>
                </ul>
                <!-- </p> -->
            </div>
            <div class="elem to-fade-in fade-in to-fade-out fade-out">
                <h1>extra curriculars</h1>
                <p>
                <ul>
                    <li>A2 Levels French certification</li>
                    <li>Guitarist for the SSN Music Club and Neram the band</li>
                    <li><b>Accolades: </b> 2nd place in Mock Job Drive- Invente '20 (SSNCE), 1st place in acoustics-
                        Festember
                        (Nit Trichy), 2nd Place in Battle of Bands, Ragam (NIT Calicut), 2nd Place in AV Quiz- Festember
                        (NIT
                        Trichy),
                        1st in quiz, 2nd in JAM - Renaissance (MIT Chennai),
                        <b>Placed in the top 3 in over 30 culturals and oratory Competitions across the state.</b>
                    </li>
                    <li><b>Core Member:</b> Coding Club, English Literature/Comedy Club, Music club, Quiz Club.</li>
                    <li>Volunteer at NSS with 80+ hours of service</li>
                </ul>

                <!-- <li>Spearheaded the organization of reverberations- Chennai's biggest school culturals and science fest of PSBB KK Nagar in 2019, Editorial team of Invente '21, event head at instincts '22</li></ul> -->
                <!-- </p> -->
                <!-- <h1>Search</h1>
              <p>
                <input type="text" value="Search" />
              </p> -->
            </div>
        </div>
        <div id="content">
            <div class="elem to-fade-in fade-in to-fade-out fade-out">
                <h1>Introduction</h1>
                <p> I am a hardworking and aspiring software developer currently pursuing my undergrad. With a healthy
                    winning attitude and a take it easy policy, I always strive to put a smile on the faces of people
                    around
                    me.</p>
                <p> Ever since i was 15 years old, i have always enjoyed coding and working with computers in general.
                    Combined with a
                    knack for problem solving, Software designing is a passion for me.
                </p>
            </div>
            <div class="elem to-fade-in fade-in to-fade-out fade-out">
                <h1>My Projects</h1>
                <p>With multiple projects under my wing, I am industry ready and willing to make a mark in the software
                    development community. They include:</p>
                <ul>
                    <li><b>Weather app(angularJS, WeatherAPI):</b>A very simple weather app that shows the weather of
                        the city that
                        is
                        searched(current location default). Implemented using WeatherAPI. It is a progressive web app
                        and can be
                        downloaded from the website itself and used on any device. <a
                            href="https://weather-phi-pearl.vercel.app">(Try
                            it here)</a>
                    </li>
                    <li><b>Data downloader(Ionic, Cordova, TypeScript and Java):</b> Building an app for Caterpillar
                        Inc. to
                        download data
                        in the background and insert it into their database for both iOS and android.</li>
                    <li><b>Bill manager and database storage(HTML5,CSS,Javascript and MSSQL): </b>Working on an
                        industrial project
                        through
                        college for a startup named Whitechillies, an e-commerce site. Developing a desktop app for the
                        same. <a
                            href="https://github.com/hrithinnnn/demo-app-project/blob/main/Demo%20app%20video.mp4">(Demo)</a>
                    </li>
                    <li><b>Machine learning(Python):</b> Machine learning modules to find survival rate of passengers in
                        titanic and
                        detect country of origin, given a name.</li>
                </ul>

                <p> Please check my GitHub for many other such projects.
                </p>
            </div>
            <div class="elem to-fade-in fade-in to-fade-out fade-out">
                <h1>About the Author</h1>
                <p> Hi there. My name is Hrithin and I'm a 20 Year old web designer based in Chennai, India. </p>
                <p> In my free time you can see me jamming to songs with my guitar or enjoying a movie. After all,
                    medicine, law,
                    business, engineering, these are noble pursuits and necessary to sustain life. But poetry, beauty,
                    romance,
                    love, these are what we stay alive for. </p>
                <p> being an an ardent quizzer and an avid reader, i spend my time sharpening my brain with a book in my
                    hand mostly.</p>
            </div>
        </div>
    </div>
    <div id="footer" class="elem to-fade-in fade-in to-fade-out fade-out"> Copyright &copy; 2023 Hrithin Ramji
    </div>
</body>